.badge-notification,
.chat-channel-unread-indicator,
.c-unread-indicator {
  background: linear-gradient(
    to right bottom,
    var(--tertiary),
    var(--success)
  ) !important;
}

.topic-post-badges .badge-notification {
  background: transparent !important;

  // quick fix for random appearing "neu" text
  color: var(--w-box-background) !important;

  &::before {
    background-color: var(--success);
  }
}

.zlb-community-badge {
  color: var(--primary);
}
