:root {
  --zlb-category-button-hover-background-color: var(--w-box-background--hover);
  --zlb-category-button-hover-border-color: var(--w-border-color-hover);
}

.zlb-community-grid--forum {
  li {
    height: 100%;
  }
}

.zlb-community-category-button {
  place-self: stretch;
  height: 100%;
  grid-template-rows: min-content;
  transition: background-color 0.2s ease;

  &__description {
    font-size: var(--font-down-1);
    display: none;
  }
}
