// Copied from app/assets/stylesheet/common/components/buttons for further investigation
:root {
  --d-button-border-radius: 8px;
  --d-button-transition: all 0.2s ease;
  --d-button-default-text-color: var(--primary);
  --d-button-default-text-color--hover: var(--primary);
  --d-button-default-bg-color: var(--w-background);
  --d-button-default-bg-color--hover: var(--w-background-hover-dark);
  --d-button-default-icon-color: var(--primary);
  --d-button-default-icon-color--hover: var(--primary);
  --d-button-default-border: var(--d-button-border);
}

.btn-icon {
  border-radius: var(--w-border-radius-full);
  background-color: var(--w-button-background-color);
}

.btn-default {
  &.no-text {
    &:hover {
      background-color: var(--w-button-outline-hover-color);
    }
  }
}

.nav-pills {
  li a.active {
    color: var(--primary);
    font-weight: 600;
  }
}

.zlb-community-stack {
  .btn {
    border-radius: var(--d-button-border-radius);
  }
}
