:root {
  --zlb-category-button-hover-background-color: var(--w-box-background--hover);
  --zlb-category-button-hover-border-color: var(--w-border-color-hover);
}

.zlb-community-category-button {
  transition: background-color 0.2s ease;
}

.zlb-community-category-button {
  height: 100%;
}

.zlb-community-category-button__description {
  display: none !important;
}
