:root {
  --zlb-user-pill-background-color: var(--w-brand-primary-200);
  --zlb-user-pill-border-color: var(--w-brand-primary-500);
  --zlb-user-pill-hover-background-color: var(--w-brand-primary-200);
}

.zlb-community-user-pill {
  padding-inline: var(--space-1) var(--space-4);
  padding-block: var(--space-1);
  justify-content: space-between;

  .avatar {
    flex-basis: 32px;
    aspect-ratio: 1/1;
    height: auto;
  }

  .d-icon {
    margin-left: var(--space-1);
  }
}

.zlb-community-user-pill__details {
  text-align: start;
  gap: var(--space-1);
}

.zlb-community-user-pill__name,
.zlb-community-user-pill__username {
  line-height: 1.1;
}
