@use "lib/viewport";

$chat-svg: "" !default;

:root {
  --message-left-width: var(--space-5);
}

.chat-message-container {
  box-sizing: border-box;
  padding-inline: var(--space-3);
  background-color: transparent !important;

  // Hides the bubble tail for messages that are not the last in a series of messages from the same user
  &:has(+ .chat-message-container.-user-info-hidden) {
    .chat-message {
      margin-bottom: var(--space-1);

      &::after {
        display: none;
      }
    }
  }

  &.-deleted {
    padding-block: 0;
  }
}

.chat-message {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: var(--space-4);
  padding: var(--space-2) var(--space-10) var(--space-2) var(--space-4) !important;
  border-radius: var(--space-4);
  background-color: var(--primary-low);

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: var(--space-4);
    margin-inline-end: -100%;
    background-color: inherit;
    inline-size: 0.875rem; // 14px
    block-size: 0.6875rem; // 11px
    mask-image: url($chat-svg);
    transform: scaleX(-1);
  }

  .chat-message-container:not(.-user-info-hidden) & {
    padding-top: var(--space-2) !important;
  }

  .chat-message-container.has-reply & {
    grid-template-areas:
      "replyto replyto"
      "message message" !important;
  }

  .chat-message-container.-deleted & {
    padding-block: 0;
    background-color: var(--danger-low);

    .chat-message-left-gutter__date,
    .chat-message-info__date,
    .chat-message-info__username {
      * {
        color: var(--danger) !important;
      }
    }
  }

  .is-by-current-user & {
    margin-left: auto;
    background-color: var(--w-brand-primary-500);

    &::after {
      left: auto;
      right: var(--space-4);
      margin-inline-start: -100%;
      margin-inline-end: 0;
      transform: none;
    }

    .chat-message-left-gutter__date,
    .chat-message-info__date,
    .chat-message-info__username {
      * {
        color: var(--d-link-color) !important;
      }
    }
  }
}

.chat-reply {
  .d-icon {
    color: var(--tertiary);
  }
}

.chat-message-avatar {
  display: none;
  position: absolute;
  left: calc(var(--message-left-width) * -1.7);
  top: var(--space-1);

  .is-by-current-user & {
    left: auto;
    right: 0;
  }
}

.chat-message-info__username {
  font-size: var(--font-down-1);
}

.chat-message-left-gutter {
  width: 0;
}

.chat-message-left-gutter__date,
.chat-message-info__date {
  position: absolute;
  right: var(--space-2);
  bottom: 4px;
  white-space: nowrap;
  text-align: right;

  a {
    display: block;
    width: initial !important;
  }
}

.chat-message-text {
  --table-border-color: var(--primary-medium);

  code,
  a.mention {
    margin-inline: -2px;
  }

  th,
  td {
    padding: var(--space-1);
  }

  ul,
  ol {
    padding-left: 0 !important;
  }

  &.-deleted {
    margin: 0;
  }
}

.chat-message-text.-deleted {
  justify-self: center;
  margin-block-end: var(--space-4);
  font-size: var(--font-down-1);
}

// Group chat specific styles
body.has-group-chat {
  // Reverses the hiding of the bubble tail for messages in a series of messages from the same user
  .chat-message-container {
    padding-left: var(--space-10);

    &.is-by-current-user {
      padding-right: var(--space-10);

      .chat-message::after {
        left: auto;
        right: -0.6857rem;
        transform: rotate(-90deg);
      }

      .chat-message-avatar {
        left: auto;
        right: calc(var(--message-left-width) * -1.3);
      }
    }

    &:has(+ .chat-message-container.-user-info-hidden) {
      .chat-message {
        &::after {
          display: block;
        }
      }
    }

    &.-user-info-hidden {
      .chat-message {
        &::after {
          display: none !important;
        }
      }
    }
  }

  .chat-message {
    &::after {
      top: var(--space-9);
      left: -0.6875rem;
      transform: scaleX(-1) rotate(-90deg);
    }

    .is-by-current-user & {
      &::after {
        left: auto;
        right: -0.6857rem;
        transform: rotate(-90deg);
      }
    }

    .chat-message-avatar {
      display: block;
    }
  }
}
