:root {
  --zlb-expander-gap: var(--space-2);
  --zlb-expander-padding: var(--space-5);
}

.zlb-community-expander {
  padding: 0;
  gap: 0;

  &[open] {
    padding-block-end: var(--zlb-expander-padding);

    .zlb-community-expander__summary {
      padding-bottom: 0;

      .zlb-community-expander__state--expanded .d-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__summary {
    padding: var(--zlb-expander-padding);
    transition: color 0.2s ease;

    * {
      user-select: none;
    }

    &:hover,
    &:focus-visible {
      color: var(--tertiary);
    }
  }

  &__title {
    color: var(--primary);
  }

  &__content {
    padding-inline: var(--zlb-expander-padding);
  }
}
