@use "lib/viewport";

$shape_image_url: "" !default;

:root {
  --shadow-header: none;
  --d-header-icon-color: var(--primary);
  --d-header-icon-background--hover: var(--w-button-outline-hover-color);
}

body.login-page .d-header,
.d-header {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

body.scrolled {
  .d-header {
    background-color: oklch(from var(--secondary) l c h / 0.8);
  }
}

.d-header-icons {
  column-gap: var(--space-2);
  align-items: center;
  padding-inline-end: var(--space-4);
}

.header-dropdown-toggle {
  .btn {
    border: 1px solid var(--primary);
    border-radius: var(--w-border-radius-full);
    padding: 0;
    box-shadow: 2px 2px var(--primary);

    &:hover {
      border: 1px solid var(--primary);
    }

    svg {
      width: var(--space-4);
    }
  }

  &.current-user {
    img.avatar {
      border: 1px solid var(--primary);
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }
}

.header-sidebar-toggle {
  .btn-sidebar-toggle {
    border: 1px solid var(--primary);
    border-radius: var(--w-border-radius-full);

    svg {
      width: var(--space-4) !important;
    }

    &:hover {
      background-color: var(--w-sidebar-hover) !important;

      svg {
        color: var(--secondary) !important;
      }
    }

    svg {
      color: inherit !important;
      width: var(--space-5);
    }
  }
}

.header-search--enabled {
  .search-input {
    border-color: var(--w-border-color);
    border-radius: var(--w-border-radius-full) !important;
  }
}

:root {
  --w-header-padding-top: calc(
    var(--header-offset) + var(--main-outlet-margin-y) +
      var(--main-outlet-padding-top)
  );
  --w-header-titles-offset: -2rem;
}

.zlb-community-header {
  position: relative;
  padding-inline-start: var(--main-outlet-padding-x);
  margin-block-start: calc(-1 * var(--main-outlet-padding-top));
  margin-block-end: var(--w-header-titles-offset);
  overflow: visible;
  background-color: var(--secondary);

  body:not(.has-full-page-chat) & {
    margin-inline: calc(-1 * (var(--main-outlet-padding-x)));
  }

  &:not(.zlb-community-header--dashboard)::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--w-header-padding-top));
    left: 0;
    width: calc(100% + 0.25px); // rounding differences
    height: var(--w-header-padding-top);
    background: url($shape_image_url) left 0 bottom -1px no-repeat; // -1px is to avoid a sub-pixel tear at the bottom of the element
    background-size: 100%;
  }
}

.zlb-community-header__titles {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-2);
  top: var(--w-header-titles-offset);
  padding-inline-start: 0;
}

.zlb-community-header__subtitle {
  font-size: var(--font-0);
}
