$title_font_family_bold: "" !default;
$title_font_family_black: "" !default;

@font-face {
  font-family: "GT Pressura";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($title_font_family_bold) format("woff2");
}

@font-face {
  font-family: "GT Pressura";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url($title_font_family_black) format("woff2");
}

:root {
  --topic-title-font-weight--visited: 600;
}

h1:not(
  .d-page-header__title,
  .topic-title,
  #discourse-modal-title,
  .d-modal__title,
  [data-topic-id]
),
.zlb-community-highlighted-title {
  --zlb-highlighted-title-padding: var(--space-1);
  font-family: "GT Pressura", inter, sans-serif;
  display: inline;
}

.zlb-community-header__title,
.zlb-community-lobby-header__title {
  font-weight: 900;
}

.zlb-community-header__subtitle,
.zlb-community-lobby-header__subtitle {
  font-size: var(--font-0);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.about__header > h1,
.d-editor-input > h1 {
  font-family: inter, sans-serif !important;
}
