:root {
  // Discourse
  --content-border-color: var(--w-border-color) !important;
  --d-content-background: oklch(from var(--secondary) l c h / 0.95);
  --accent-color: var(--w-border-color-hover);
  --d-link-color: var(--w-link-color);

  // TODO: Probably make better use of these variables
  // --tertiary-very-low: #{$tertiary-very-low};
  // --tertiary-low: #{$tertiary-low};
  // --tertiary-medium: #{$tertiary-medium};
  // --tertiary-high: #{$tertiary-high};
  // --tertiary-hover: #{$tertiary-hover};
  // --tertiary-25: #{$tertiary-25};
  // --tertiary-50: #{$tertiary-50};
  // --tertiary-100: #{$tertiary-100};
  // --tertiary-200: #{$tertiary-200};
  // --tertiary-300: #{$tertiary-300};
  // --tertiary-400: #{$tertiary-400};
  // --tertiary-500: #{$tertiary-500};
  // --tertiary-600: #{$tertiary-600};
  // --tertiary-700: #{$tertiary-700};
  // --tertiary-800: #{$tertiary-800};
  // --tertiary-900: #{$tertiary-900};
}
