:root {
  // Wiblio
  --w-box-background: #f8f8f8;
  --w-box-background--hover: #e6e6e6;
  --w-background: oklch(from var(--tertiary) calc(l * 1.2) calc(c * 1.2) h);
  --w-background-hover: oklch(
    from var(--tertiary) calc(l * 1.4) calc(c * 0.4) h
  );
  --w-background-emphazise: oklch(
    from var(--tertiary) calc(l * 1.4) calc(c * 0.7) h
  );
  --w-hover: oklch(from var(--tertiary) calc(l * 0.8) c h);
  --w-border-color: #e6e6e6;
  --w-border-color-hover: oklch(from var(--tertiary) calc(l * 2) calc(c * 1) h);

  // Probably make better use of these variables
  // --tertiary-very-low: #{$tertiary-very-low};
  // --tertiary-low: #{$tertiary-low};
  // --tertiary-medium: #{$tertiary-medium};
  // --tertiary-high: #{$tertiary-high};
  // --tertiary-hover: #{$tertiary-hover};
  // --tertiary-25: #{$tertiary-25};
  // --tertiary-50: #{$tertiary-50};
  // --tertiary-100: #{$tertiary-100};
  // --tertiary-200: #{$tertiary-200};
  // --tertiary-300: #{$tertiary-300};
  // --tertiary-400: #{$tertiary-400};
  // --tertiary-500: #{$tertiary-500};
  // --tertiary-600: #{$tertiary-600};
  // --tertiary-700: #{$tertiary-700};
  // --tertiary-800: #{$tertiary-800};
  // --tertiary-900: #{$tertiary-900};

  // General
  --content-border-color: var(--w-border-color) !important;

  // Header

  // Sidebar
  --d-sidebar-link-color: var(--primary) !important;
  --d-sidebar-link-icon-color: inherit !important;
  --d-sidebar-active-background: var(--primary) !important;
  --d-sidebar-active-color: var(--secondary) !important;
  --d-sidebar-background: transparent !important;
  --d-sidebar-admin-background: transparent !important;
  // stylelint-disable-next-line
  --d-sidebar-highlight-background: var(--w-hover) !important;
  --d-sidebar-highlight-color: var(--secondary) !important;
  --d-sidebar-header-color: var(--primary) !important;
  --d-sidebar-header-icon-color: var(--primary) !important;

  // Categories
  --d-category-box-background-color: var(--w-box-background) !important;
}
