@mixin special-button-border {
  height: var(--w-button-size-large);
  border-radius: var(--w-button-border-radius-large);
  border: 2px solid var(--primary);
  box-shadow: 4px 4px var(--primary);

  &:hover {
    border: 2px solid var(--primary);
    box-shadow: 4px 6px var(--primary);
    margin-top: -2px;
    margin-bottom: 2px;
  }
}
