@mixin special-button-border($margin-bottom: 0px) {
  height: var(--w-button-size-large);
  border-radius: var(--w-button-border-radius-large);
  border: 2px solid var(--primary);
  box-shadow: 4px 4px var(--primary);
  margin-top: 0 !important;
  margin-bottom: $margin-bottom !important;

  &:hover {
    margin-top: -2px !important;
    margin-bottom: calc($margin-bottom + 2px) !important;
    border: 2px solid var(--primary) !important;
    box-shadow: 4px 6px var(--primary);
    background-color: var(--d-hover) !important;
  }
}
