$rhomb: "" !default;

:root {
  --main-outlet-padding-x: var(--space-5);
}

html {
  background-color: var(--w-background);
}

#main-outlet {
  position: relative;
  background-color: var(--secondary);
  margin: 40px 0;

  &::after {
    content: url($rhomb);
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    width: 100%;
    transform: scale(-100%);
  }
}
