@use "lib/viewport";

$shape_image_url: "" !default;

:root {
  --shadow-header: none;
  --d-header-icon-color: var(--primary);
}

.d-header {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

body.scrolled {
  .d-header {
    background-color: oklch(from var(--secondary) l c h / 0.8);
  }
}

.d-header-icons {
  column-gap: var(--space-1);
  align-items: center;
}

.header-dropdown-toggle {
  .btn {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: var(--w-border-radius-full);
    padding: 0;

    &:hover {
      background-color: var(--w-button-outline-hover-color);
    }

    svg {
      width: var(--space-4);
    }
  }

  &.current-user {
    .btn {
      border: 0;

      img.avatar {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }
    }
  }
}

.header-sidebar-toggle {
  .btn-sidebar-toggle {
    border-radius: var(--w-border-radius-full);

    &:hover {
      background-color: var(--w-hover) !important;

      svg {
        color: var(--secondary) !important;
      }
    }

    svg {
      color: inherit !important;
      width: var(--space-5);
    }
  }
}

.zlb-community-header {
  width: auto;
  min-width: 100%;
  padding-block-start: 23.5rem;
  padding-inline-start: var(--main-outlet-padding-x);
  top: -25.9rem;
  margin-block-end: -25.75rem;
  margin-inline: calc(-1 * var(--main-outlet-padding-x));
  overflow: visible;
  background: url($shape_image_url) 0 calc(100% - 1.75rem) no-repeat;
  background-size: 100%;

  @include viewport.from(md) {
    top: -28.25rem;
    margin-block-end: -26.75rem;
    background-position: 0 bottom;
  }
}

.zlb-community-header__titles {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-2);
}
