.d-header {
  background-color: transparent;
  box-shadow: none;
}

.header-sidebar-toggle {
  .btn-sidebar-toggle {
    border-radius: var(--w-border-radius-full);
    &:hover {
      background-color: var(--w-hover) !important;

      svg {
        color: var(--secondary) !important;
      }
    }

    svg {
      color: inherit !important;
      width: var(--space-5);
    }
  }
}
