@use "lib/viewport";

$rhomb: "" !default;

:root {
  --shadow-header: none;
}

.d-header {
  background-color: transparent;
}

body.scrolled {
  .d-header {
    background-color: oklch(from var(--secondary) l c h / 0.8);
  }
}

.header-sidebar-toggle {
  .btn-sidebar-toggle {
    border-radius: var(--w-border-radius-full);

    &:hover {
      background-color: var(--w-hover) !important;

      svg {
        color: var(--secondary) !important;
      }
    }

    svg {
      color: inherit !important;
      width: var(--space-5);
    }
  }
}

.zlb-community-header {
  width: auto;
  min-width: 100%;
  padding-block-start: 23.5rem;
  padding-inline-start: var(--main-outlet-padding-x);
  top: -25.9rem;
  margin-block-end: -25.75rem;
  margin-inline: calc(-1 * var(--main-outlet-padding-x));
  overflow: visible;
  background: url($rhomb) 0 calc(100% - 1.75rem) no-repeat;
  background-size: 100%;

  @include viewport.from(md) {
    top: -28.25rem;
    margin-block-end: -26.75rem;
    background-position: 0 bottom;
  }
}

.zlb-community-header__titles {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-2);
}
