.zlb-community-dashboard-header,
.welcome-banner.--location-above-topic-content {
  box-sizing: content-box;
  height: 12vw;
  position: relative;
  margin-inline: calc(-1 * var(--main-outlet-padding-x));
  margin-block-start: -34vw;
  padding-block-start: 30vw;
  border-radius: 0;

  &::before {
    content: "";
    background-color: var(--secondary);
    position: absolute;
    inset: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    z-index: -1;
  }

  &:has(.zlb-community-header__background-image) {
    .zlb-community-header__titles {
      padding-inline: var(--main-outlet-padding-x);
      inset: var(--main-outlet-padding-x);
      top: auto;
      bottom: 0;
    }
  }
}

.zlb-community-header__titles {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-2);
  position: absolute;
  padding-block-end: var(--main-outlet-padding-x);
  inset: 0;
  top: auto;
}

.zlb-community-header__subtitle {
  font-size: var(--font-0);
}

.zlb-community-header__background-image {
  aspect-ratio: 1.7 / 1;
  position: absolute;
  inset: 0;
  top: auto;
  z-index: -1;
  max-width: 100%;
  background-image: none;
  background-color: var(--secondary);

  &,
  &::after,
  img {
    clip-path: polygon(100% 100%, 0% 100%, 0% 65%, 100% 0%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: var(--main-outlet-padding-x);
    background-image: linear-gradient(
      var(--w-brand-secondary-500),
      var(--w-brand-secondary-800)
    );
    z-index: -1;
  }

  img {
    display: block;
    left: var(--main-outlet-padding-x);
  }

  &::after,
  img {
    width: calc(100% - (var(--main-outlet-padding-x) * 2));
    height: calc(100% - var(--main-outlet-padding-x));
    top: calc(var(--main-outlet-padding-x) * 1.325);
  }
}
