// Wiblio Design tokens
@use "design-tokens/variables";
@use "design-tokens/mixins";

// Design tokens - primary
@use "design-tokens/colors.primary" as primary-colors;
@use "design-tokens/border-radius.primary";

// Design tokens - secondary
@use "design-tokens/colors.secondary";

// Base
@use "base/html" with (
  $shape_image_url: $rhomb,
  $water_url: $water,
  $water_m_url: $water_m,
  $sun_url: $sun,
  $sun_m_url: $sun_m
);

// Atoms
@use "atoms/badge";
@use "atoms/button";
@use "atoms/category-badges";
@use "atoms/category-button";
@use "atoms/discourse";
@use "atoms/input";
@use "atoms/skip-link";
@use "atoms/title";
@use "atoms/user-pill";

// Molecules
@use "molecules/card";
@use "molecules/chat-composer";
@use "molecules/chat-message" with (
  $chat-svg: $chat
);
@use "molecules/chat-welcome-overlay";
@use "molecules/dropdown";
@use "molecules/event-card";
@use "molecules/expander";
@use "molecules/community-header" with (
  $shape_image_url: $rhomb
);
@use "molecules/legal-links";
@use "molecules/list-controls";
@use "molecules/topic-list";
@use "molecules/form-kit";
@use "molecules/quote";
@use "molecules/topic-cards";
@use "molecules/topic";
@use "molecules/create-topic";

// Organisms
@use "organisms/category-header";
@use "organisms/chat";
@use "organisms/group-members";
@use "organisms/header";
@use "organisms/lobby-header";
@use "organisms/modal";
@use "organisms/sidebar";
@use "organisms/user-menu";

// Templates
@use "templates/admin";
@use "templates/calendar";
@use "templates/dashboard";
@use "templates/group";
@use "templates/lobby";
@use "templates/static";
@use "templates/user";

@font-face {
  font-family: "GT Pressura";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($gt_pressura_bold) format("woff2");
}

@font-face {
  font-family: "GT Pressura";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url($gt_pressura_black) format("woff2");
}

h1 {
  --heading-font-family: "GT Pressura", "Inter", sans-serif !important;
}
