// Design tokens - primary
@use "design-tokens/colors.primary" as primary-colors;
@use "design-tokens/border-radius.primary";

// Design tokens - secondary
@use "design-tokens/colors.secondary";

// Base
@use "base";

// Components
@use "chat" with (
  $chat-svg: $chat
);
@use "discourse";
@use "header";
@use "sidebar";
@use "button";
@use "input";
@use "categories";
@use "category-badges";
@use "topic-cards";
@use "topic-list-fixes";
@use "topic";
@use "skip-link";
@use "user-pill";

:root {
  --main-outlet-padding-x: var(--space-5);
}

#main-outlet {
  position: relative;
  background-color: var(--secondary);
  margin: 40px 0;

  &::before {
    content: url($rhomb);
    z-index: -1;
    position: absolute;
    bottom: calc(100% - 6px);
    left: 0;
    width: 100%;
  }

  &::after {
    content: url($rhomb);
    position: absolute;
    z-index: -1;
    top: calc(100% - 7px);
    left: 0;
    width: 100%;
    transform: scale(-100%);
  }
}
