@use "lib/viewport";

.chat-composer {
  .chat-composer-dropdown__trigger-btn {
    .d-icon {
      color: var(--tertiary);
      background-color: transparent;
    }

    &:hover {
      color: var(--d-hover);
    }
  }

  &__input-container {
    @include viewport.until(sm) {
      border-radius: var(--w-border-radius-full);
      background: var(chat-composer__input-container);
      border: 1px solid var(--w-border-color);
    }
  }

  &__input {
    background-color: transparent;
  }

  .chat-composer-button.-send {
    @include viewport.from(sm) {
      padding-right: var(--space-5);
    }
  }
}

.full-page-chat {
  border: 0 !important;
}

.chat-message-separator-date {
  & + .chat-message-separator__line-container {
    padding-inline: 1rem;

    .chat-message-separator__line {
      border-color: var(--primary-400);
    }
  }

  .chat-message-separator__text {
    color: var(--primary-400);
  }
}

// Styles event join
html.has-full-page-chat,
html:has(body.zlb-community-lobby) {
  background-color: var(--secondary) !important;
  background-image: none;

  #main-outlet {
    margin: 0;

    &::after {
      display: none;
    }
  }
}

body.zlb-community-lobby {
  .chat-channel-preview-card {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: oklch(from var(--primary) l c h / 0.9);
    color: var(--secondary);

    .chat-channel-title {
      display: none;
    }

    .zlb-community-lobby-join {
      height: 100%;
      max-width: 360px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: var(--space-6);
    }

    .chat-channel-preview-card__browse-all {
      display: none;
    }
  }
}
