@use "lib/viewport";

:root {
  --shadow-header: none;
  --d-header-icon-color: var(--primary);
  --d-header-icon-background--hover: var(--w-background);
}

body.login-page .d-header,
.d-header {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

body.scrolled {
  .d-header {
    background-color: oklch(from var(--secondary) l c h / 0.8);
  }
}

.d-header-icons {
  column-gap: var(--space-2);
  align-items: center;
  padding-inline-end: var(--space-4);
}

.header-dropdown-toggle {
  .btn {
    background-color: var(--secondary);
    padding: 0;
    border: 1px solid var(--primary);
    border-radius: var(--w-border-radius-full);
    box-shadow: 2px 2px var(--primary);

    &:hover {
      border: 1px solid var(--primary);
    }

    svg {
      width: var(--space-4);
    }
  }

  &.current-user {
    img.avatar {
      width: calc(100% + 7px);
      height: calc(100% + 7px);
    }
  }
}

.header-sidebar-toggle {
  .btn-sidebar-toggle {
    background-color: var(--secondary);
    padding: 0.2143em !important;
    border: 1px solid var(--primary);
    border-radius: var(--w-border-radius-full);
    box-shadow: 2px 2px var(--primary);

    svg {
      width: var(--space-4) !important;
    }

    &:hover {
      border: 1px solid var(--primary);
      background-color: var(--d-header-icon-background--hover) !important;
    }

    svg {
      color: inherit !important;
      width: var(--space-5);
    }
  }
}

.header-search--enabled {
  .search-input {
    border-color: var(--w-border-color);
    border-radius: var(--w-border-radius-full) !important;
  }
}

:root {
  --w-header-padding-top: calc(
    var(--header-offset) + var(--main-outlet-margin-y) +
      var(--main-outlet-padding-top)
  );
  --w-header-titles-offset: -2rem;
}

.language-switcher {
  .btn {
    padding: 8px;

    &:hover {
      border-color: var(--primary) !important;
    }
  }
}
