@use "lib/viewport";
@use "design-tokens/mixins";

:root {
  --d-sidebar-row-horizontal-padding: var(--space-2);
  --d-sidebar-vertical-gap: var(--space-1);
  --d-sidebar-link-color: var(--primary);
  --d-sidebar-link-color-hover: var(--primary);
  --d-sidebar-link-icon-color: inherit;
  --d-sidebar-active-background: var(--primary);
  --d-sidebar-active-color: var(--secondary);
  --d-sidebar-background: transparent;
  --d-sidebar-admin-background: transparent;
  --d-sidebar-highlight-background: var(--d-hover);
  --d-sidebar-highlight-color: var(--primary);
  --d-sidebar-header-color: var(--primary);
  --d-sidebar-header-icon-color: var(--primary);
  --d-sidebar-footer-fade: var(--w-box-background);
}

.sidebar-container {
  border-right: 0 !important;
}

.menu-panel {
  background-color: var(--w-box-background);
  border-color: var(--w-border-color);
  padding-top: var(--space-10);
}

.sidebar-section-link,
.sidebar-section-header-wrapper {
  &:focus {
    outline: 2px solid var(--primary);
  }
}

.sidebar-section {
  border-color: transparent;

  &[data-section-name="forum"] {
    margin-top: var(--space-2);

    .sidebar-section-header-wrapper {
      &:focus-within {
        background-color: transparent;
      }
    }

    .sidebar-section-header-button {
      position: relative;
      z-index: 1;
      width: 70%;
      text-align: start;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        outline-width: 0;
        background-color: transparent;

        .d-icon {
          color: var(--primary) !important;
        }
      }
    }

    .sidebar-section-header-collapsable {
      margin-left: calc(
        -70% + var(--font-down-1) +
          var(--d-sidebar-section-link-prefix-margin-right)
      );
      text-transform: initial;
      font-size: initial;
      letter-spacing: initial;
      font-weight: initial;

      &:active,
      &:focus {
        background-color: transparent;
      }

      &:has(+ .sidebar-section-header-button:hover) {
        font-weight: 600;
      }
    }
  }

  &[data-section-name="forum"] {
    --d-sidebar-vertical-gap: 0;
    border-radius: var(--d-border-radius);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--d-hover) !important;
    }

    .sidebar-section-link {
      &:hover {
        background-color: transparent;
        color: var(---background-hover-dark);
      }
    }
  }
}

.sidebar-section-link {
  transition: var(--d-button-transition);
  border-radius: var(--w-border-radius-full) !important;
}

#sidebar-section-content-forum {
  margin-left: calc(
    0.5em + var(--font-down-1) +
      var(--d-sidebar-section-link-prefix-margin-right)
  ) !important;

  .sidebar-section-link {
    background-color: transparent;
    color: var(--primary);

    &:hover {
      font-weight: 600;
    }
  }
}

// TODO: make this with static pages
.sidebar-section[data-section-name="general-nav"] {
  display: none !important;
}

.sidebar__panel-switch-button {
  @include mixins.special-button-border(1rem);
}

.sidebar-footer-container {
  padding: 0 !important;

  @include viewport.from(sm) {
    &::before {
      display: none !important;
    }
  }

  .sidebar-footer-actions {
    width: 100%;

    @include viewport.until(sm) {
      background-color: var(--w-box-background);
    }

    .btn {
      display: none;
    }

    .w-legal-links {
      padding-bottom: var(--space-2);

      li {
        background-color: var(--primary);
        font-weight: bolder;

        &:hover a {
          color: var(--tertiary);
          transition: var(--w-transition);
        }
      }
    }
  }
}

body:not(.zlb-community-sidebar-restricted) {
  #d-sidebar .w-legal-links {
    display: none;
  }
}
