@use "lib/viewport";

// Adds height of community-header to standard full chat height
html.keyboard-visible .zlb-community-lobby .chat-channel {
  @include viewport.until(sm) {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 160px
    );
  }

  @include viewport.from(sm) {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 180px
    );
  }
}

.qa-welcome-events {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-3);
  margin-bottom: var(--space-2);
}

.zlb-community-lobby {
  #main-outlet-wrapper {
    padding-inline: 0;
    max-width: 800px;
  }

  #main-outlet {
    margin-block: 0;

    &::after {
      display: none;
    }
  }

  .form-kit__container-content {
    span {
      width: 100%;

      .avatar-uploader__button {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--primary);

        .d-button-label {
          width: fit-content;
        }
      }
    }
  }

  .all-loaded-message {
    margin-top: var(--space-4);
  }
}

@include viewport.from(lg) {
  .zlb-community-lobby {
    #main-outlet {
      height: calc(100dvh - var(--space-4));
      margin-block-start: var(--space-4);
    }
  }
}
