@use "lib/viewport";

// Adds height of community-header to standard full chat height
html.keyboard-visible .zlb-community-lobby .chat-channel {
  @include viewport.until(sm) {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 160px
    );
  }

  @include viewport.from(sm) {
    height: calc(
      var(--composer-vh, 1vh) * 100 - var(--main-outlet-offset, 0px) -
        1px - var(--chat-header-offset, 0) - var(--composer-height, 0px) - 180px
    );
  }
}

.qa-welcome-events {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-3);
  margin-bottom: var(--space-2);
}

.qa-lobby-back-to-event {
  border: var(--w-border) !important;
}

@include viewport.until(lg) {
  .zlb-community-lobby {
    #main-outlet-wrapper {
      padding-inline: 0;
    }

    #main-outlet {
      margin-block: 0;

      &::after {
        display: none;
      }
    }

    .discourse-root,
    #main-outlet-wrapper,
    #main-outlet {
      // height: 100dvh;
    }
  }
}

@include viewport.from(lg) {
  .zlb-community-lobby {
    #main-outlet {
      height: calc(100dvh - var(--space-4));
      margin-block-start: var(--space-4);
    }
  }
}
