@use "lib/viewport";
@use "_design-tokens/mixins";

:root {
  --d-post-control-background--hover: var(--d-hover);
}

// Site header event status indicator
.header-title {
  .event-date {
    border-radius: var(--w-border-radius-full);
    border: 1px solid var(--success-medium);
    background-color: var(--success-low);
    color: var(--success);
    font-size: var(--font-down-3);

    &.past {
      border-color: var(--content-border-color);
      background-color: var(--w-box-background);
      color: var(--primary-medium);
    }
  }
}

body:not(.d-toc-installed) {
  .container.posts {
    grid-template-columns: auto 8em;

    @media screen and (width <= 924px) {
      grid-template-columns: auto;
    }
  }

  .topic-navigation-popup {
    min-width: 250px;
    right: 0;
  }
}

.topic-post-badges {
  .badge-notification {
    font-size: var(--font-down-1);
    padding: 0.15em 0.35em;
    border-radius: 1em;
    min-width: 1.3em;
    box-sizing: border-box;
    color: var(--secondary);
  }
}

.title-wrapper {
  gap: var(--space-3);
}

.post-stream {
  .contents {
    font-size: var(--font-up-1);
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
  }

  // Notice banner above topic
  .post-notice {
    margin-bottom: var(--space-3);
    border-radius: var(--d-border-radius);
    border: 1px solid var(--w-border-color-hover);

    .d-icon {
      color: var(--tertiary-high);
    }

    &,
    .post-notice-message {
      color: var(--tertiary-hover);

      &.custom {
        background-color: var(--highlight-low);
        border-color: var(--highlight-medium);

        .d-icon {
          color: var(--highlight-high);
        }

        &,
        .post-notice-message {
          color: var(--highlight-high);
        }
      }
    }
  }
}

// Team coloring
.moderator .regular > .cooked {
  border-radius: 0 var(--d-border-radius) var(--d-border-radius);
  border: 1px solid var(--highlight-medium);

  @include viewport.until(sm) {
    padding-inline: var(--space-2);
    padding-block-start: var(--space-2);
  }
}

// Below post
.small-action {
  &-buttons {
    height: fit-content;

    .btn.no-text {
      @include mixins.icon-button-circle(var(--space-7));
    }
  }
}

// Footer
#topic-footer-buttons {
  padding-block-end: var(--space-2);
  border-radius: var(--d-border-radius);
  border: 1px solid var(--content-border-color);

  .btn.no-text {
    @include mixins.icon-button-circle;
  }

  @include viewport.until(sm) {
    padding: var(--space-2);

    .topic-footer-main-buttons__actions {
      gap: var(--space-1);
    }
  }

  @include viewport.from(sm) {
    .topic-footer-main-buttons {
      justify-content: space-between;
      padding: var(--space-2);
      border-block-end: 1px solid var(--content-border-color);
    }

    .pinned-button,
    .topic-notifications-button {
      display: block;
      padding-inline: var(--space-2);

      .reason {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;

        .btn {
          border: 1px solid var(--primary);
          border-radius: var(--d-button-border-radius);
        }

        .text {
          font-size: var(--font-down-1);
        }
      }
    }
  }
}
