@use "design-tokens/mixins";
@use "lib/viewport";

body.static-login {
  #main-outlet-wrapper {
    max-width: 800px;
  }

  section.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

  .body-page {
    margin: 0;
    max-width: unset;
    height: 100%;

    &-button-container {
      display: none;
    }
  }

  .login-welcome {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0;
    padding-inline: var(--space-4);
    border: 0;
    box-shadow: none;
  }

  .w-welcome__button {
    @include mixins.special-button-border;
  }

  .w-welcome__legal-links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-4);
    margin: 0;
  }
}
