@use "lib/viewport";

$shape_image_url: "" !default;
$water_url: "" !default;
$water_m_url: "" !default;
$sun_url: "" !default;
$sun_m_url: "" !default;

:root {
  --main-outlet-padding-x: var(--space-3);
  --main-outlet-margin-y: var(--w-header-height);
  --w-header-height: 3rem;
}

@include viewport.from(md) {
  :root {
    --main-outlet-padding-x: var(--space-4);
  }
}

@include viewport.from(lg) {
  :root {
    --main-outlet-padding-x: var(--space-5);
  }
}

html {
  background-color: var(--w-background);
  background-image: url($sun_url), url($water_url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;

  @include viewport.until(sm) {
    background-image: url($sun_m_url), url($water_m_url);
  }
}

#main-outlet-wrapper {
  grid-template-rows: 1fr;
  min-height: calc(92dvh - var(--header-offset, 0px));
}

#main-outlet {
  position: relative;
  background-color: var(--secondary);
  margin-block-start: var(--main-outlet-margin-y);

  &::after {
    content: "";
    background: url($shape_image_url) 0 100% no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: calc(100% - 1px); // -1px because Chrome has a rounding error
    left: 0;
    width: 100%;
    min-height: 4.575rem; // Magic number, matches the amount of the angle shown on the header
    transform: scale(-100%);
  }
}

@include viewport.from(md) {
  :root {
    --w-header-height: 5rem;
  }

  .has-sidebar-page {
    --w-header-height: 5rem;
  }
}
