// TODO own file
.group-details-container {
  background-color: transparent;
  padding: 0;
}

.zlb-community-card {
  background-color: transparent;
}

.zlb-community-grid {
  .topic-list {
    margin-bottom: 0;
  }
}
